<template>
  <q-card
    style="width: 300px"
    class="q-px-sm q-pb-md"
    v-if="stateMode==stateModeType.addNotification"
  >
    <q-card-section>
      <div class="text-h6">Adaugare notificare</div>
    </q-card-section>

    <q-card-section>
      <div class="text-caption">{{ day.name }}</div>
    </q-card-section>

    <q-card-section>
      <q-select
        outlined
        dense
        v-model="notificationSelected"
        :options="notificationOptions"
        label="Tipul notificarii"
      />
    </q-card-section>

    <q-card-section>
      <q-input
        filled
        clearable
        autogrow
        dense
        clear-icon="close"
        v-model="notificationDescription"
        label="Descriere"
      />
    </q-card-section>

    <q-card-actions align="right">
      <q-btn flat label="Cancel" color="primary" v-close-popup />
      <q-btn flat @click="handleSaveNotification" label="Salveaza" color="primary" v-close-popup />
    </q-card-actions>
  </q-card>
</template>
<script>
export default {
  name: "addNotificationCard",
  props: {
    day: Object
  }
};
</script>
<style lang="scss">
</style>