<template>
  <q-card style="width: 300px" class="q-px-sm q-pb-md">
    <q-card-section>
      <div class="text-h6">
        Adauga un seminar/curs
      </div>
      <div class="text-caption">{{ newClassUnit.weekday.label }}</div>
    </q-card-section>
    <q-card-section v-if="false">
      <q-select
        outlined
        dense
        v-model="newClassUnit.serie"
        :options="seriesOptions"
        label="Serie"
      />
    </q-card-section>
    <q-card-section v-if="false">
      <q-select
        outlined
        dense
        v-model="newClassUnit.group"
        :options="groupOptions"
        label="Grupa"
      />
    </q-card-section>
    <q-card-section>
      <q-select
        outlined
        dense
        v-model="newClassUnit.professor"
        :options="professorsOption"
        label="Profesor"
      />
    </q-card-section>
    <q-card-section>
      <q-select
        outlined
        dense
        v-model="newClassUnit.subject"
        :options="subjectOption"
        label="Materie"
      />
    </q-card-section>

    <q-card-section>
      <q-select
        outlined
        dense
        v-model="newClassUnit.classroom"
        :options="classroomOptions"
        label="Sala"
      />
    </q-card-section>

    <q-card-section>
      <q-select
        outlined
        dense
        v-model="newClassUnit.timeUnit"
        :options="timeUnitOptions"
        label="Ora"
      />
    </q-card-section>
    <q-card-section>
      <q-select
        outlined
        dense
        v-model="newClassUnit.type"
        :options="types"
        label="Curs/Seminar"
      />
    </q-card-section>
    <q-card-actions align="right">
      <q-btn
        flat
        label="Accepta"
        @click="handleAddSchedule"
        color="primary"
        v-close-popup
      />
      <q-btn flat label="Anuleaza" color="primary" v-close-popup />
    </q-card-actions>
  </q-card>
</template>
<script>
export default {
  name: "addScheduleCard",
  data() {
    return {
      types: ["Curs", "Seminar"],
      newClassUnit: {
        subject: {
          label: "",
          value: ""
        },
        professor: {
          label: "",
          value: ""
        },
        timeUnit: {
          label: "",
          value: ""
        },
        classroom: {
          label: "",
          value: ""
        },
        type: {
          label: "",
          value: ""
        },
        weekday: {
          label: "",
          value: ""
        },
        group: {
          label: "",
          value: ""
        },
        serie: {
          label: "",
          value: ""
        }
      }
    };
  },
  props: {
    selectedWeekDayId: Number
  },
  computed: {
    allGroups() {
      return this.$store.getters["managementData/getAllGroups"];
    },
    userData() {
      return this.$store.getters["profileData/getUser"];
    },
    dayOptions() {
      return this.$store.getters[
        "scheduleData/getRomanianWeekDays"
      ].map(item => ({ value: item.id, label: item.name }));
    },
    professors() {
      return this.$store.getters["scheduleData/getProfessors"];
    },
    subjects() {
      return this.$store.getters["scheduleData/getSubjects"];
    },
    professorSubjects() {
      return this.$store.getters["scheduleData/getProfessorsSubjects"];
    },
    timeUnitOptions() {
      return this.$store.getters["scheduleData/getTimeUnits"]
        .filter(item => item.day.id === this.selectedWeekDayId)
        .map(item => ({
          value: item.id,
          label: `${item.timeStart} - ${item.timeEnd}`
        }));
    },
    classroomOptions() {
      return this.$store.getters["scheduleData/getClassRooms"].map(item => ({
        value: item.id,
        label: item.name
      }));
    },
    professorsOption() {
      if (this.newClassUnit.subject.value) {
        return this.professorSubjects
          .filter(item => item.subjectId === this.newClassUnit.subject.value)
          .map(item => {
            const professor = this.professors.find(
              subItem => subItem.id === item.professorId
            );
            return {
              value: professor.id,
              label: professor.firstName + " " + professor.lastName
            };
          })
          .sort((a, b) => {
            if (a.label > b.label) return -1;
            if (a.label < b.label) return 1;
          });
      } else {
        return this.professors.map(professor => ({
          value: professor.id,
          label: professor.firstName + " " + professor.lastName
        }));
      }
    },
    subjectOption() {
      if (this.newClassUnit.professor.value) {
        const s = this.subjects.find(
          item => item.id === this.newClassUnit.professor.value
        );

        const some = this.professorSubjects.filter(
          item => item.professorId === this.newClassUnit.professor.value
        );
        return this.professorSubjects
          .filter(
            item => item.professorId === this.newClassUnit.professor.value
          )
          .map(item => {
            return this.subjects.find(subItem => subItem.id === item.subjectId);
          })
          .filter(
            item =>
              item.specialization.id ===
                this.newClassUnit.serie.specializationId &&
              item.year === this.newClassUnit.serie.year &&
              item.studyLevel.id === this.newClassUnit.serie.studyLevelId
          )
          .map(item => {
            return {
              // disable: !some.find(xitem => xitem.subjectId === item.subjectId),
              value: item.id,
              label: item.name
            };
          })
          .sort((a, b) => {
            if (a.label > b.label) return -1;
            if (a.label < b.label) return 1;
          });
      } else {
        return this.subjects.map(subject => ({
          value: subject.id,
          label: subject.name
        }));
      }
    },
    groupOptions() {
      if (this.newClassUnit.serie.value) {
        return this.$store.getters["managementData/getAllGroups"]
          .filter(item => item.series.id === this.newClassUnit.serie.value)
          .map(item => ({
            value: item.id,
            label: item.number,
            seriesId: item.series.id
          }));
      } else {
        return this.$store.getters["managementData/getAllGroups"].map(item => ({
          value: item.id,
          label: item.number,

          seriesId: item.series.id
        }));
      }
    },
    seriesOptions() {
      return this.$store.getters["managementData/getAllSeries"].map(item => ({
        value: item.id,
        year: item.year,
        specializationId: item.specialization.id,
        studyLevelId: item.studyLevel.id,
        label: `Seria ${item.name} - Anul ${item.year} - ${item.specialization.name}`
      }));
    }
  },
  mounted() {
    this.newClassUnit.weekday = this.dayOptions.find(
      item => item.value == this.selectedWeekDayId
    );
    const id = this.userData.group.id;
    const group = this.allGroups.find(item => item.id === id);

    this.newClassUnit.serie = {
      value: group.series.id,
      year: group.series.year,
      specializationId: group.series.specialization.id,
      studyLevelId: group.series.studyLevel.id,
      label: `Seria ${group.series.name} - Anul ${group.series.year} - ${group.series.specialization.name}`
    };
    this.newClassUnit.group = {
      value: group.id,
      label: group.number,
      seriesId: group.series.id
    };
  },
  methods: {
    handleAddSchedule() {
      this.$axios
        .post("/api/changelog", {
          type: "class",
          operation: "ADD",
          data: {
            classroomId: this.newClassUnit.classroom.value,
            professorId: this.newClassUnit.professor.value,
            subjectId: this.newClassUnit.subject.value,
            type: this.newClassUnit.type,
            timeUnitId: this.newClassUnit.timeUnit.value,
            groupId:
              this.newClassUnit.type === "Seminar"
                ? this.newClassUnit.group.value
                : null,
            serieId:
              this.newClassUnit.type === "Curs"
                ? this.newClassUnit.serie.value
                : null
          }
        })
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message,
            icon: "thumb_up"
          });
        })
        .catch(e => {
          console.error(e);
          this.$q.notify({
            color: "negative",
            message: "S-a produs o eroare",
            icon: "report_problem"
          });
        });
    }
  }
};
</script>
<style lang="scss"></style>
