<template>
  <q-card>
    <q-card-section>
      <div class="col text-h6 ellipsis">
        Modifica acest
        {{ receivedClassUnit.type === "Curs" ? "curs" : "seminar" }}
      </div>
      <div class="text-caption">{{ receivedClassUnit.subject.name }}</div>
    </q-card-section>

    <q-card-section>
      <q-select
        outlined
        dense
        v-model="selectedClassUnit.professor"
        :options="professorsOption"
        label="Profesor"
      />
    </q-card-section>

    <q-card-section>
      <q-select
        outlined
        dense
        v-model="selectedClassUnit.classroom"
        :options="classroomOptions"
        label="Sala"
      />
    </q-card-section>

    <q-card-section>
      <q-select
        outlined
        dense
        v-model="selectedClassUnit.timeUnit"
        :options="timeUnits"
        label="Ora"
      />
    </q-card-section>
    <q-card-section>
      <q-select
        outlined
        dense
        v-model="selectedClassUnit.weekday"
        :options="dayOptions"
        label="Ziua"
      />
    </q-card-section>

    <q-card-actions align="right">
      <q-btn
        flat
        label="Accepta"
        @click="handleSaveNewSchedule"
        color="primary"
        v-close-popup
      />
      <q-btn flat label="Anuleaza" color="primary" v-close-popup />
      <q-btn
        flat
        label="Sterge"
        @click="dialogDeleteClass = true"
        color="primary"
      />
    </q-card-actions>

    <q-dialog v-model="dialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar color="red" text-color="white" size="45px" icon="warning" />

          <span class="q-ml-sm">Ești sigur ca vrei sa schimbi rolul?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="Confirmă"
            @click="handleDeleteNotification"
            color="primary"
            v-close-popup
          />
          <q-btn flat label="Anulează" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogDeleteClass" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
          <span class="q-ml-sm"
            >Esti sigur ca vrei sa stergi cursul/seminarul?</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            label="Delete"
            @click="handleDeleteSchedule"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-card>
</template>
<style lang="scss"></style>
<script>
export default {
  name: "editScheduleCard",
  data() {
    return {
      selectedClassUnit: {
        timeUnit: {
          value: this.receivedClassUnit.timeUnit.id,
          label: `${this.receivedClassUnit.timeUnit.timeStart} - ${this.receivedClassUnit.timeUnit.timeEnd}`
        },
        classroom: {
          value: this.receivedClassUnit.classroom.id,
          label: this.receivedClassUnit.classroom.name
        },
        weekday: {
          value: this.receivedClassUnit.timeUnit.weekday.id,
          label: this.receivedClassUnit.timeUnit.weekday.name
        },
        professor: {
          value: this.receivedClassUnit.professor.id,
          label: `${this.receivedClassUnit.professor.firstName} ${this.receivedClassUnit.professor.lastName}`
        },
        type: this.receivedClassUnit.type,

        group: {
          label: "",
          value: ""
        },
        serie: {
          label: "",
          value: ""
        },
        subject: {
          value: this.receivedClassUnit.subject.id
        }
      },
      dialog: false,
      dialogDeleteClass: false
    };
  },
  props: {
    receivedClassUnit: Object,
    selectedWeekDayId: Number
  },
  computed: {
    professors() {
      return this.$store.getters["scheduleData/getProfessors"];
    },
    subjects() {
      return this.$store.getters["scheduleData/getSubjects"];
    },
    professorSubjects() {
      return this.$store.getters["scheduleData/getProfessorsSubjects"];
    },
    timeUnits() {
      return this.$store.getters["scheduleData/getTimeUnits"].map(item => ({
        value: item.id,
        label: `${item.timeStart} - ${item.timeEnd}`
      }));
    },
    classroomOptions() {
      return this.$store.getters["scheduleData/getClassRooms"].map(item => ({
        value: item.id,
        label: item.name
      }));
    },
    dayOptions() {
      return this.$store.getters[
        "scheduleData/getRomanianWeekDays"
      ].map(item => ({ value: item.id, label: item.name }));
    },
    professorsOption() {
      const s = this.subjects.find(
        item => item.id === this.receivedClassUnit.subject.id
      );

      const some = this.professorSubjects.filter(
        item => item.subjectId === this.receivedClassUnit.subject.id
      );
      return this.professorSubjects
        .filter(
          item =>
            item.subjectId === this.receivedClassUnit.subject.id ||
            (item.subjectName === s.name &&
              item.professorId !== this.receivedClassUnit.professor.id)
        )
        .map(item => {
          const professor = this.professors.find(
            subItem => subItem.id === item.professorId
          );
          return {
            disable: !some.find(
              xitem => xitem.professorId === item.professorId
            ),
            value: professor.id,
            label: professor.firstName + " " + professor.lastName
          };
        })
        .sort((a, b) => {
          if (a.label > b.label) return -1;
          if (a.label < b.label) return 1;
        });
    },
    allGroups() {
      return this.$store.getters["managementData/getAllGroups"];
    },
    userData() {
      return this.$store.getters["profileData/getUser"];
    }
  },
  mounted() {
    // console.log(this.weekdaySelected New);
    this.selectedClassUnit.weekday = this.dayOptions.find(
      item => item.value == this.selectedWeekDayId
    );
    const id = this.userData.group.id;
    const group = this.allGroups.find(item => item.id === id);
    this.selectedClassUnit.serie = {
      value: group.series.id,
      year: group.series.year,
      specializationId: group.series.specialization.id,
      studyLevelId: group.series.studyLevel.id,
      label: `Seria ${group.series.name} - Anul ${group.series.year} - ${group.series.specialization.name}`
    };
    this.selectedClassUnit.group = {
      value: group.id,
      label: group.number,
      seriesId: group.series.id
    };
  },
  methods: {
    handleSaveNewSchedule() {
      this.$axios
        .post("/api/changelog", {
          type: "class",
          operation: "EDIT",
          data: {
            id: this.receivedClassUnit.id,
            classroomId: this.selectedClassUnit.classroom.value,
            professorId: this.selectedClassUnit.professor.value,
            timeUnitId: this.selectedClassUnit.timeUnit.value
          }
        })
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message,
            icon: "thumb_up"
          });
        })
        .catch(e => {
          console.error(e);
          this.$q.notify({
            color: "negative",
            message: "S-a produs o eroare",
            icon: "report_problem"
          });
        });
    },
    handleDeleteSchedule() {
      this.$axios
        .post("/api/changelog", {
          type: "class",
          operation: "DELETE",
          data: {
            id: this.receivedClassUnit.id
          }
        })
        .then(response => {
          this.$emit("close");
          this.$q.notify({
            color: "teal",
            message: response.data.message,
            icon: "thumb_up"
          });
        })
        .catch(e => {
          console.error(e);
          this.$q.notify({
            color: "negative",
            message: "S-a produs o eroare",
            icon: "report_problem"
          });
        });
    },
    handleDeleteNotification() {
      this.$q.notify("Ora stearsa");

      //POST catre baza de date
    }
  }
};
</script>
