<template>
  <div :class="containerType">
    <div class="capsule cursor-pointer" @click="handleClick">
      <img
        v-if="day.type === 'Curs'"
        src="../../assets/curs_icon.svg"
        alt="icon for course "
      />
      <img
        v-else
        src="../../assets/seminar_icon.svg"
        alt="icon for laboratory"
      />
      <div class="right">
        <div class="first-top">
          <p class="text-uppercase text-subtitle">
            {{ day.subject.shortName }}
          </p>
          <p>{{ day.professor.firstName }} {{ day.professor.lastName }}</p>
        </div>
        <div class="second-top">
          <p>{{ day.timeUnit.timeStart }} - {{ day.timeUnit.timeEnd }}</p>
          <p>{{ day.classroom.name }}</p>
        </div>
      </div>
    </div>

    <q-dialog v-model="dialog" :position="position">
      <EditScheduleCard
        @close="dialog = false"
        v-if="stateMode == stateModeType.editSchedule"
        v-bind:receivedClassUnit="day"
        v-bind:selectedWeekDayId="day.timeUnit.weekday.id"
      />

      <q-card
        style="width: 300px"
        class="q-px-sm q-pb-md"
        v-if="stateMode == stateModeType.addNotification"
      >
        <q-card-section>
          <div class="text-h6">Adaugare notificare</div>
        </q-card-section>

        <q-card-section>
          <div class="text-caption">{{ day.subject }} {{ day.timeSlot }}</div>
        </q-card-section>

        <q-card-section>
          <q-select
            outlined
            dense
            v-model="notificationSelected"
            :options="notificationOptions"
            label="Tipul notificarii"
          />
        </q-card-section>

        <q-card-section>
          <q-input
            filled
            clearable
            autogrow
            dense
            clear-icon="close"
            v-model="notificationDescription"
            label="Descriere"
          />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            @click="handleSaveNotification"
            label="Salveaza"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<style lang="scss">
.q-slide-item {
  margin-bottom: 15px;
  border-radius: 7px;
  .q-slide-item__content {
    background: transparent;
  }
}

.container {
  box-shadow: 10px 8px 20px -14px rgba(0, 0, 0, 0.52);
  margin-bottom: 20px;
  width: 100%;

  .capsule {
    border-radius: 7px;
    background-color: #f2f2f2;
    width: 100%;

    display: flex;
    flex-direction: row;
    padding: 5px;

    img {
      height: 45px;
      max-width: 40px;
      margin-right: 15px;
    }

    .right {
      width: 80%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 5px;
      padding-right: 10px;
      margin-bottom: 6px;
      margin-top: 6px;

      .first-top,
      .second-top {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .text-title {
          font-size: 1.3em;
        }
        p {
          margin: 0;
          font-size: 1.05em;
          color: #828282;
        }
      }

      .first-top {
        .text-subtitle {
          font-weight: 600;
          color: #404040;
        }
      }
    }
  }
}

.container-edit {
  @extend .container;
  box-shadow: 0px 0px 40px 0px rgba(41, 44, 207, 1);
}

@media only screen and (min-width: 1200px) {
}
</style>

<script>
import EditScheduleCard from "./EditScheduleCard.vue";

export default {
  name: "ScheduleCapsule",
  data() {
    return {
      dialog: false,
      position: "bottom",
      notificationSelected: null,
      notificationDescription: "",
      notificationOptions: ["Tema", "Test", "Proiect", "Examen"]
    };
  },
  props: {
    day: Object
  },
  components: {
    EditScheduleCard
  },
  computed: {
    stateMode() {
      return this.$store.getters["profileData/getStateMode"];
    },
    stateModeType() {
      return this.$store.getters["profileData/getStateModeType"];
    },

    containerType() {
      switch (this.stateMode) {
        case this.stateModeType.addNotification:
          return "container-edit";
        case this.stateModeType.editSchedule:
          return "container-edit";
        default:
          return "container";
      }
    }
  },
  mounted() {},
  methods: {
    handleAddNotification(day) {
      this.dialog = true;
    },
    handleEditSchedule(day) {
      this.dialog = true;
    },
    handleSaveNotification() {
      this.$q.notify("Notificare salvata");
      //POST catre baza de date
    },
    handleClick() {
      switch (this.stateMode) {
        case this.stateModeType.addNotification:
          this.handleAddNotification(this.day);
          break;
        case this.stateModeType.editSchedule:
          this.handleEditSchedule(this.day);
          break;
      }
    }
  }
};
</script>
