<template>
  <q-card>
    <q-card-section>
      <div class="text-subtitle2">{{ title }}</div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9" color="primary">Denumire</p>
        <p class="text-weight-medium text-teal-6">{{subject.name}} {{subject.shortName}}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Semestru</p>
        <p class="text-weight-medium text-teal-6">{{subject.semester}}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">An</p>
        <p class="text-weight-medium text-teal-6">{{subject.year}}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Tip(obligatoriu/optional)</p>
        <p class="text-weight-medium text-teal-6">{{subject.type}}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Specializare</p>
        <p class="text-weight-medium text-teal-6">BLA</p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section style="padding: 3px; padding-left: 16px;">
      <p>{{infoCardDetails.userData.firstName}} {{infoCardDetails.userData.lastName}}</p>
      <p class="text-caption">{{infoCardDetails.userData.email}}</p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "addSubjectInfoCard",
  props: {
    title: String,
    infoCardDetails: Object
  },
  mounted() {
    console.log(this.infoCardDetails.payloadData);
  },
  computed: {
    subject() {
      return this.$store.getters["scheduleData/getSubjects"].find(
        item => item.id === this.infoCardDetails.payloadData.subjectId
      );
    },
    specialization() {
      return this.$store.getters["managementData/getAllSpecializations"].find(
        item => item.id === this.infoCardDetails.payloadData.specializationId
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.q-card {
  width: 90%;
  p {
    margin: 5px;
  }
  .info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
