<template>
  <q-card>
    <q-card-section>
      <div class="text-subtitle2">{{ title }}</div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9" color="primary">Denumire</p>
        <p class="text-weight-medium text-red-6">{{classroom.name}}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Cladire</p>
        <p class="text-weight-medium text-red-6">{{classroom.building.name}}</p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section style="padding: 3px; padding-left: 16px;">
      <p>{{infoCardDetails.userData.firstName}} {{infoCardDetails.userData.lastName}}</p>
      <p class="text-caption">{{infoCardDetails.userData.email}}</p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "deleteClassroomInfoCard",
  props: {
    title: String,
    infoCardDetails: Object
  },
  mounted() {
    console.log(this.infoCardDetails.payloadData);
  },
  computed: {
    classroom() {
      return this.$store.getters["scheduleData/getClassRooms"].find(
        item => item.id === this.infoCardDetails.payloadData.id
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.q-card {
  width: 90%;
  p {
    margin: 5px;
  }
  .info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
