<template>
  <q-card>
    <q-card-section>
      <div class="text-subtitle2">{{ title }}</div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9" color="primary">Grupa/Seria</p>
        <p class="text-weight-medium text-red-6">{{ target }}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Materia</p>
        <p class="text-weight-medium text-red-6">{{ subject.name }}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Profesor</p>
        <p class="text-weight-medium text-red-6">{{ professor.firstName }} {{ professor.lastName }}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Ora</p>
        <p class="text-weight-medium text-red-6">
          {{ timeUnit.day.dayName }} {{ timeUnit.timeStart }} -
          {{ timeUnit.timeEnd }}
        </p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Sala</p>
        <p class="text-weight-medium text-red-6">{{ classroom.name }}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Tip</p>
        <p class="text-weight-medium text-red-6">{{ infoCardDetails.payloadData.type }}</p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section style="padding: 3px; padding-left: 16px;">
      <p>
        {{ infoCardDetails.userData.firstName }}
        {{ infoCardDetails.userData.lastName }}
      </p>
      <p class="text-caption">{{ infoCardDetails.userData.email }}</p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "deleteClassInfoCard",
  props: {
    title: String,
    infoCardDetails: Object
  },

  computed: {
    classroom() {
      return this.$store.getters["scheduleData/getClassRooms"].find(
        item => item.id === this.infoCardDetails.payloadData.classroomId
      );
    },
    subject() {
      return this.$store.getters["scheduleData/getSubjects"].find(
        item => item.id === this.infoCardDetails.payloadData.subjectId
      );
    },
    professor() {
      return this.$store.getters["scheduleData/getProfessors"].find(
        item => item.id === this.infoCardDetails.payloadData.professorId
      );
    },
    timeUnit() {
      return this.$store.getters["scheduleData/getTimeUnits"].find(
        item => item.id === this.infoCardDetails.payloadData.timeUnitId
      );
    },
    target() {
      switch (this.infoCardDetails.payloadData.type) {
        case "Seminar":
          return `Grupa ${
            this.$store.getters["managementData/getAllGroups"].find(
              item => item.id === parseInt(this.infoCardDetails.targetData)
            ).number
          }`;
        case "Curs":
          return `Seria ${
            this.$store.getters["managementData/getAllSeries"].find(
              item => item.id === parseInt(this.infoCardDetails.targetData)
            ).name
          }`;
        default:
          return "Necunoscut";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.q-card {
  width: 90%;
  p {
    margin: 5px;
  }
  .info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
