<template>
  <q-card>
    <q-card-section>
      <div class="text-subtitle2">{{ title }}</div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Denumire</p>
        <p
          v-if="infoCardDetails.payloadData.subject.name=== oldData.subject.name"
          class="text-right"
        >{{ oldData.name}}</p>
        <div class="modified-data" v-else>
          <p class="text-weight-medium text-red-6">{{ oldData.name }}</p>

          <p class="text-weight-medium text-teal-6">&#8627; {{ subject.name }}</p>
        </div>
      </div>

      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Semestru</p>
        <p
          v-if="infoCardDetails.payloadData.semester=== oldData.semester"
          class="text-right"
        >{{ oldData.semester}}</p>
        <div class="modified-data" v-else>
          <p
            class="text-weight-medium text-red-6"
          >{{ oldData.semester.firstName }} {{ oldData.professor.lastName }}</p>

          <p class="text-weight-medium text-teal-6">&#8627; {{ subject.semester }}</p>
        </div>
      </div>

      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">An</p>
        <p
          v-if="infoCardDetails.payloadData.year=== oldData.year"
          class="text-right"
        >{{ oldData.year }}</p>
        <div class="modified-data" v-else>
          <p class="text-weight-medium text-right text-red-6">{{ oldData.year }}</p>

          <p class="text-weight-medium text-right text-teal-6">&#8627; {{ timeUnit.year}}</p>
        </div>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Tip(obligatoriu/facultativ)</p>
        <p v-if="infoCardDetails.payloadData.type=== oldData.classroom.type">{{ oldData.type }}</p>
        <div class="modified-data" v-else>
          <p class="text-weight-medium text-red-6">{{ oldData.type }}</p>
          <p class="text-weight-medium text-teal-6">&#8627; {{ classroom.type }}</p>
        </div>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Specializare</p>
        <p class>{{ oldData.specialization }}</p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section style="padding: 3px; padding-left: 16px;">
      <p>
        {{ infoCardDetails.userData.firstName }}
        {{ infoCardDetails.userData.lastName }}
      </p>
      <p class="text-caption">{{ infoCardDetails.userData.email }}</p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "editSubjectInfoCard",
  props: {
    title: String,
    infoCardDetails: Object
  },
  mounted() {
    console.log(this.infoCardDetails.payloadData);
  },

  computed: {
    subject() {
      return this.$store.getters["scheduleData/getSubjects"].find(
        item => item.id === this.infoCardDetails.payloadData.subjectId
      );
    },
    specialization() {
      return this.$store.getters["managementData/getAllSpecializations"].find(
        item => item.id === this.infoCardDetails.payloadData.specializationId
      );
    },
    target() {
      switch (this.oldData.type) {
        case "Seminar":
          return `Grupa ${
            this.$store.getters["managementData/getAllGroups"].find(
              item => item.id === parseInt(this.oldData.group.id)
            ).number
          }`;
        case "Curs":
          return `Seria ${
            this.$store.getters["managementData/getAllSeries"].find(
              item => item.id === parseInt(this.oldData.group.series.id)
            ).name
          }`;
        default:
          return "Necunoscut";
      }
    },
    oldData() {
      const oldData = this.$store.getters["scheduleData/getSubjects"].find(
        item => item.id === this.infoCardDetails.payloadData.id
      );
      console.log(oldData);
      return {
        id: oldData.id,
        name: oldData.name,
        type: oldData.type,
        year: oldData.year,
        semester: oldData.semester,
        shortName: oldData.shortName,
        specialization: oldData.specialization.name
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.q-card {
  width: 90%;
  p {
    margin: 5px;
  }
  .info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
