<template>
  <q-card>
    <q-card-section>
      <div class="text-subtitle2">{{ title }}</div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9" color="primary">Nume</p>
        <p class="text-weight-medium text-teal-6">{{professor.firstName}}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Prenume</p>
        <p class="text-weight-medium text-teal-6">{{professor.lastName}}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Email</p>
        <p class="text-weight-medium text-teal-6">{{professor.email}}</p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section style="padding: 3px; padding-left: 16px;">
      <p>{{infoCardDetails.userData.firstName}} {{infoCardDetails.userData.lastName}}</p>
      <p class="text-caption">{{infoCardDetails.userData.email}}</p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "editProfessorInfoCard",
  props: {
    title: String,
    infoCardDetails: Object
  },
  mounted() {
    console.log(this.infoCardDetails.payloadData);
  },
  computed: {
    professor() {
      return this.$store.getters["scheduleData/getProfessors"].find(
        item => item.id === this.infoCardDetails.payloadData.id
      );
    },
    oldData() {
      const oldData = this.$store.getters["scheduleData/getProfessors"].find(
        item => item.id === this.infoCardDetails.payloadData.id
      );
      console.log(oldData);
      return {
        id: oldData.id,
        name: oldData.name,
        type: oldData.type,
        year: oldData.year,
        semester: oldData.semester,
        shortName: oldData.shortName,
        specialization: oldData.specialization.name
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.q-card {
  width: 90%;
  p {
    margin: 5px;
  }
  .info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
