<template>
  <q-card>
    <q-card-section>
      <div class="text-subtitle2">{{ title }}</div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9" color="primary">Grupa/Seria</p>
        <p class>{{ target }}</p>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Materia</p>
        <p class="text-right">{{oldData.subject.name}}</p>
      </div>

      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Profesor</p>
        <p
          v-if="infoCardDetails.payloadData.professorId=== oldData.professor.id"
          class="text-right"
        >{{ oldData.professor.firstName }} {{ oldData.professor.lastName }}</p>
        <div class="modified-data" v-else>
          <p
            class="text-weight-medium text-red-6"
          >{{ oldData.professor.firstName }} {{ oldData.professor.lastName }}</p>

          <p
            class="text-weight-medium text-teal-6"
          >{{ professor.firstName }} {{ professor.lastName }}</p>
        </div>
      </div>

      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Ora</p>
        <p v-if="infoCardDetails.payloadData.timeUnitId=== oldData.timeUnit.id" class="text-right">
          {{ oldData.timeUnit.day.dayName }} {{ oldData.timeUnit.timeStart }} -
          {{ oldData.timeUnit.timeEnd }}
        </p>
        <div class="modified-data" v-else>
          <p class="text-weight-medium text-right text-red-6">
            {{ oldData.timeUnit.day.dayName }} {{ oldData.timeUnit.timeStart }} -
            {{ oldData.timeUnit.timeEnd }}
          </p>

          <p class="text-weight-medium text-right text-teal-6">
            {{ timeUnit.day.dayName }} {{ timeUnit.timeStart }} -
            {{ timeUnit.timeEnd }}
          </p>
        </div>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Sala</p>
        <p
          v-if="infoCardDetails.payloadData.classroomId=== oldData.classroom.id"
        >{{ oldData.classroom.name }}</p>
        <div class="modified-data" v-else>
          <p class="text-weight-medium text-red-6">{{ oldData.classroom.name }}</p>
          <p class="text-weight-medium text-teal-6">&#8627; {{ classroom.name }}</p>
        </div>
      </div>
      <div class="q-item__label info-card text-weight-regular">
        <p class="text-grey-9">Tip</p>
        <p class>{{ oldData.type }}</p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section style="padding: 3px; padding-left: 16px;">
      <p>
        {{ infoCardDetails.userData.firstName }}
        {{ infoCardDetails.userData.lastName }}
      </p>
      <p class="text-caption">{{ infoCardDetails.userData.email }}</p>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "editClassInfoCard",
  props: {
    title: String,
    infoCardDetails: Object
  },
  mounted() {
    console.log(this.infoCardDetails.payloadData);
  },

  computed: {
    classroom() {
      return this.$store.getters["scheduleData/getClassRooms"].find(
        item => item.id === this.infoCardDetails.payloadData.classroomId
      );
    },
    professor() {
      return this.$store.getters["scheduleData/getProfessors"].find(
        item => item.id === this.infoCardDetails.payloadData.professorId
      );
    },
    timeUnit() {
      return this.$store.getters["scheduleData/getTimeUnits"].find(
        item => item.id === this.infoCardDetails.payloadData.timeUnitId
      );
    },

    target() {
      switch (this.oldData.type) {
        case "Seminar":
          return `Grupa ${
            this.$store.getters["managementData/getAllGroups"].find(
              item => item.id === parseInt(this.oldData.group.id)
            ).number
          }`;
        case "Curs":
          return `Seria ${
            this.$store.getters["managementData/getAllSeries"].find(
              item => item.id === parseInt(this.oldData.group.series.id)
            ).name
          }`;
        default:
          return "Necunoscut";
      }
    },
    oldData() {
      const oldData = this.$store.getters["scheduleData/getGroupSchedule"].find(
        item => item.id === this.infoCardDetails.payloadData.id
      );
      const oldTimeUnit = this.$store.getters["scheduleData/getTimeUnits"].find(
        item => item.id === oldData.timeUnit.id
      );
      const oldProfessor = this.$store.getters[
        "scheduleData/getProfessors"
      ].find(item => item.id === oldData.professor.id);
      const oldClassroom = this.$store.getters[
        "scheduleData/getClassRooms"
      ].find(item => item.id === oldData.classroom.id);
      const oldSubject = this.$store.getters["scheduleData/getSubjects"].find(
        item => item.id === oldData.subject.id
      );
      console.log(oldData);
      return {
        id: oldData.id,
        group: oldData.group,
        type: oldData.type,
        timeUnit: oldTimeUnit,
        professor: oldProfessor,
        classroom: oldClassroom,
        subject: oldSubject
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.q-card {
  width: 90%;
  p {
    margin: 5px;
  }
  .info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
</style>
