<template>
  <div>
    <h2>{{ this.studentName }}</h2>
    <p>{{ this.currentUserSelected.role.type }}</p>
  </div>
</template>

<style lang="scss" scoped>
h2 {
  font-size: 2em;
  font-weight: 450;
  margin: 0;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}
</style>

<script>
export default {
  name: "StudentHeader",
  data() {
    return {
      currentUserSelected: null
    };
  },
  beforeMount() {
    this.currentUserSelected = { ...this.currentUser };
  },
  computed: {
    currentUser() {
      return this.$store.getters["profileData/getUser"];
    },
    studentName() {
      return (
        this.currentUserSelected.firstName +
        " " +
        this.currentUserSelected.lastName
      );
    }
  }
};
</script>
