<template>
  <div>
    <div class="info-ribbon">
      <div class="info-section">
        <p class="highlighted">{{ currentUserSelected.group.number }}</p>
        <p>Grupa</p>
      </div>
      <div class="info-section">
        <p class="highlighted">{{ currentUserSelected.group.serie.name }}</p>
        <p>Seria</p>
      </div>
      <div class="info-section">
        <p class="highlighted">{{ currentUserSelected.group.serie.year }}</p>
        <p>Anul</p>
      </div>
    </div>
    <div class="info-square">
      <div>
        <p>Specializare:</p>
        <p>Facultate:</p>
        <p>Nivel studii:</p>
      </div>
      <div style="margin-left: 20px;">
        <p>{{ currentUserSelected.group.serie.specialization.name }}</p>
        <p>CSIE</p>
        <p>{{ currentUserSelected.group.serie.studyLevel.name }}</p>
      </div>
    </div>

    <!-- <q-btn
      @click="handleViewChangeLog"
      label="Cererile mele"
      flat
      color="primary"
    /> -->
    <q-btn
      v-if="$router.currentRoute.name === 'Profile'"
      @click="logout"
      outline
      color="primary"
      label="Logout"
      icon="clear"
    />
    <!-- <q-btn
      @lcick="handleGiveFeedback"
      flat
      icon="sentiment_satisfied_alt"
    /> -->

    <q-dialog v-model="dialog" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Your address</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            filled
            clearable
            autogrow
            dense
            @keyup.enter="dialog = false"
            clear-icon="close"
            v-model="userFeedback"
            label="Descriere"
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Anuleaza" v-close-popup />
          <q-btn label="Trimite" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<style lang="scss">
.info-ribbon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .info-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    p {
      text-align: center;
      margin: 3px;
    }

    .highlighted {
      font-weight: 500;
      font-size: 1.3em;
    }
  }
}

.info-square {
  margin-top: 40px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;

  div {
    display: flex;
    flex-direction: column;
  }
}
</style>

<script>
export default {
  name: "StudentInfo",
  data() {
    return {
      currentUserSelected: null,
      dialog: false,
      userFeedback: ""
    };
  },
  beforeMount() {
    this.currentUserSelected = { ...this.currentUser };
    if (!this.currentUser.group) {
      this.currentUserSelected.group = {
        number: 0,
        serie: {
          name: "...",
          year: "...",
          specialization: {
            name: "...",
            studyLevel: {
              name: "..."
            }
          }
        }
      };
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters["profileData/getUser"];
    }
  },
  methods: {
    handleViewChangeLog() {
      this.$router.push({ name: "Management" });
    },
    handleGiveFeedback() {
      this.dialog = true;
    },
    logout() {
      this.$axios
        .get("/api/auth/logout")
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message,
            icon: "thumb_up"
          });

          this.$store.dispatch("profileData/logout");
          this.$router.push({ name: "Auth" });
        })
        .catch(error => {
          switch (error.response.status) {
            default: {
              this.$q.notify({
                color: "negative",
                message: error.response.data.message,
                icon: "report_problem"
              });
            }
          }
        });
    }
  }
};
</script>
