<template>
  <q-table
    title="Profesori"
    :data="filterResult"
    :columns="professorsColumns"
    row-key="lastName"
    class="my-sticky-column-table"
    wrap-cells
  >
    <template v-slot:top-right>
      <q-input borderless dense debounce="200" color="primary" v-model="filterInput">
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </template>

    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="firstName" :props="props" auto-width>
          {{ props.row.firstName }}
          <q-popup-edit v-if="isEditProf" v-model="props.row.firstName" buttons>
            <q-input type="text" v-model="props.row.firstName" dense autofocus />
          </q-popup-edit>
        </q-td>
        <q-td key="lastName" :props="props">
          {{ props.row.lastName }}
          <q-popup-edit v-if="isEditProf" v-model="props.row.lastName" buttons>
            <q-input type="text" v-model="props.row.lastName" dense autofocus />
          </q-popup-edit>
        </q-td>
        <q-td key="email" :props="props">
          {{ props.row.email }}
          <q-popup-edit v-if="isEditProf" v-model="props.row.email" buttons>
            <q-input type="text" v-model="props.row.email" dense autofocus />
          </q-popup-edit>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<style lang="scss"></style>

<script>
export default {
  name: "professorTable",
  data() {
    return {
      filterInput: "",
      professorsColumns: [
        {
          name: "lastName",
          required: true,
          label: "Nume",
          align: "left",
          field: row => row.firstName,
          format: val => `${val}`,
          sortable: true,
          style: "width: 500px"
        },
        {
          name: "firstName",
          label: "Prenume",
          field: "lastName",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
          style: "width: 500px"
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
          style: "width: 500px"
        }
      ],
      professorsList: []
    };
  },
  props: {
    isEditProf: Boolean
  },
  mounted() {
    console.log("this is isEditPorf");
    console.log(this.isEditProf);
    this.professorsList = [...this.allProfessors];
  },
  computed: {
    allProfessors() {
      return this.$store.getters["scheduleData/getProfessors"];
    },
    filterResult() {
      if (this.filterInput) {
        return this.allProfessors.filter(item => {
          return this.filterInput
            .toLowerCase()
            .split(" ")
            .every(v =>
              `${item.firstName.toLowerCase()}${item.lastName.toLowerCase()}${item.email.toLowerCase()}`.includes(
                v
              )
            );
        });
      } else {
        return this.allProfessors;
      }
    }
  }
};
</script>
