<template>
  <q-table
    title="Materii"
    :data="filterResult"
    :columns="subjectsColumns"
    row-key="name"
    class="my-sticky-column-table"
    wrap-cells
  >
    <template v-slot:top-right>
      <q-input borderless dense debounce="200" color="primary" v-model="filterInput">
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </template>

    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="name" :props="props" auto-width>
          {{ props.row.name }}
          <q-popup-edit v-model="props.row.name" buttons>
            <q-input type="text" v-model="props.row.name" dense autofocus />
          </q-popup-edit>
        </q-td>

        <q-td key="shortName" :props="props">
          {{ props.row.shortName }}
          <q-popup-edit v-model="props.row.shortName" buttons>
            <q-input type="text" v-model="props.row.shortName" dense autofocus />
          </q-popup-edit>
        </q-td>

        <q-td key="year" :props="props">
          {{ props.row.year }}
          <q-popup-edit v-model="props.row.year" buttons>
            <q-input type="text" v-model="props.row.year" dense autofocus />
          </q-popup-edit>
        </q-td>

        <q-td key="semester" :props="props">
          {{ props.row.semester }}
          <q-popup-edit v-model="props.row.semester" buttons>
            <q-input type="text" v-model="props.row.semester" dense autofocus />
          </q-popup-edit>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<style lang="scss"></style>

<script>
export default {
  name: "subjectTable",
  data() {
    return {
      filterInput: "",
      subjectsColumns: [
        {
          name: "name",
          required: true,
          label: "Nume",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "shortName",
          label: "Abreviere",
          field: "shortName",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "year",
          label: "An",
          field: "year",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "semester",
          label: "Semestru",
          field: "semester",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        }
      ],
      subjectsList: [
        {
          name: "Algoritmi si Tehnici de Programare ",
          shortName: "ATP",
          year: 1,
          semester: 2
        },
        {
          name: "Economie",
          shortName: "Economie",
          year: 1,
          semester: 1
        }
      ]
    };
  },
  mounted() {
    console.log(this.allSubjects);
  },
  computed: {
    allSubjects() {
      return this.$store.getters["scheduleData/getSubjects"];
    },
    filterResult() {
      if (this.filterInput) {
        return this.allSubjects.filter(item => {
          return this.filterInput
            .toLowerCase()
            .split(" ")
            .every(v =>
              `${item.name.toLowerCase()}${item.shortName.toLowerCase()}`.includes(
                v
              )
            );
        });
      } else {
        return this.allSubjects;
      }
    }
  }
};
</script>
