<template>
  <q-page>
    <div class="q-pa-md container">
      <q-card>
        <q-tabs v-model="tab" class="text-teal">
          <q-tab label="LOGIN" name="login" />
          <q-tab label="INREGISTRARE" name="register" />
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="login">
            <img class="img-center" src="../assets/logo.svg" alt="SLEEP App logo" />
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
              <q-input
                filled
                dense
                type="email"
                v-model="email"
                label="Email"
                lazy-rules
                :rules="noEmptyFieldRules"
              />

              <q-input
                filled
                dense
                type="password"
                v-model="password"
                label="Parola"
                lazy-rules
                :rules="noEmptyFieldRules"
              />

              <div>
                <q-btn label="Submit" type="submit" color="primary" />
                <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
              </div>
            </q-form>
          </q-tab-panel>

          <q-tab-panel name="register">
            <img class="img-center" src="../assets/logo.svg" alt="SLEEP App logo" />
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
              <q-input dense filled v-model="firstName" label="Nume" lazy-rules :rules="nameRules" />

              <q-input
                dense
                filled
                v-model="lastName"
                label="Prenume"
                lazy-rules
                :rules="nameRules"
              />
              <q-input
                filled
                dense
                type="email"
                v-model="email"
                label="Email"
                lazy-rules
                :rules="noEmptyFieldRules"
              />

              <q-input
                filled
                dense
                type="password"
                v-model="password"
                label="Parola"
                lazy-rules
                :rules="noEmptyFieldRules"
              />

              <div>
                <q-btn label="Submit" type="submit" color="primary" />
                <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
              </div>
            </q-form>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </div>
  </q-page>
</template>

<style lang="scss" scoped>
.q-page {
  display: flex;
  flex-direction: column;

  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 10%;
    justify-content: center;

    .img-center {
      border-style: none;
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      display: block;
      margin-bottom: 3%;
    }
    .q-form {
      margin-top: 12%;
    }
  }
}
</style>
<script>
export default {
  name: "Auth",
  data() {
    return {
      tab: "login",
      firstName: "",
      lastName: "",
      email: "mihai.vasile@gmail.com",
      password: "asd",
      nameRules: [
        val => (val && val.length > 0) || "Campul nu poate fi gol",
        val => val.length < 50 || "Lungimea maxima este de 50 de caractere"
      ],
      noEmptyFieldRules: [
        val => (val && val.length > 0) || "Campul nu poate fi gol."
      ]
    };
  },

  methods: {
    onSubmit() {
      this.$axios
        .post("/api/auth/login", {
          email: this.email,
          password: this.password
        })
        .then(response => {
          this.$store.dispatch("profileData/login", response.data.user);
          this.$q.notify({
            color: "teal",
            message: response.data.message,
            icon: "thumb_up"
          });

          this.$router.push({ name: "Home" });
        })
        .catch(() => {
          this.$q.notify({
            color: "negative",
            message: "No email/password matched",
            icon: "report_problem"
          });
        });
    },

    onReset() {
      this.email = null;
      this.password = null;
    }
  }
};
</script>
