<template>
  <q-page>
    <div class="container">
      <div class="top">
        <ScheduleCapsule
          v-for="(item, index) in group(3)"
          :key="index"
          v-bind:day="item"
        />
      </div>
      <div class="bottom">
        <MotivationalQuotes />
      </div>
    </div>

    <q-dialog v-model="dialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="warning" color="warning" text-color="white" />
          <span class="q-ml-sm">
            Pentru a putea folosi aplicatia, mai intai trebuie sa alegi grupa
            din care faci parte.
          </span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            flat
            label="Alege grupa"
            @click="handleNewProfile"
            color="primary"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<style lang="scss" scoped>
.q-page {
  display: flex;
  flex-direction: column;

  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;

    .top,
    .bottom {
      flex-basis: 0;
      flex-grow: 1;
    }

    .top {
      color: #e25a5a;
      flex-grow: 2;
      max-height: 70vh;
    }

    .bottom {
    }
  }
}
</style>
<script>
import MotivationalQuotes from "../components/home/MotivationalQuotes";
import ScheduleCapsule from "../components/schedule/ScheduleCapsule.vue";
export default {
  name: "Home",
  components: {
    MotivationalQuotes,
    ScheduleCapsule
  },
  data() {
    return {
      dialog: false,
      currentDay: {
        id: null
      }
    };
  },

  beforeMount() {
    const date = new Date();
    switch (date.getDay()) {
      case 2:
        this.currentDay.id = 2;
        break;
      case 3:
        this.currentDay.id = 3;
        break;
      case 4:
        this.currentDay.id = 4;
        break;
      case 5:
        this.currentDay.id = 5;
        break;
      default:
        this.currentDay.id = 1;
    }
  },
  mounted() {
    if (!this.currentUser.group) this.dialog = true;
    console.log("this is current day");
    console.log(this.currentDay);
    console.log("this is group schedule");
    console.log(this.groupSchedule);
  },
  methods: {
    handleNewProfile() {
      this.$router.push({ name: "Profile" });
    },
    group(weekDayId) {
      return this.$store.getters["scheduleData/getGroupSchedule"].filter(
        item => item.timeUnit.weekday.id === weekDayId
      );
    }
  },

  computed: {
    currentUser() {
      return this.$store.getters["profileData/getUser"];
    }
  }
};
</script>
