<template>
  <q-page>
    <div class="container">
      <div class="top">
        <p class="text-body text-overline text-weight-bold">SLEEP App</p>
        <div>
          <p class="text-subtitle text-h6">Studentia ta a devenit mai usoara acum!</p>
          <q-btn @click="handleRegister" outline style="color: #226754">inscrie-te acum &rarr;</q-btn>
        </div>
      </div>
      <div class="bottom">
        <div class="content-right">
          <q-icon name="edit" />
          <div class="text-right">
            <p class="text-subtitle text-weight-bold">Acces rapid</p>
            <p class="text-body">
              Nu mai sta să cauți poza cu orarul. Intră pe SLEEP și îl găsești în câteva secunde.
              Și e și ușor de citit spre deosebire de cel de la avizier.
            </p>
          </div>
        </div>

        <div class="content-left">
          <div class="text-left">
            <p class="text-subtitle text-weight-bold">Modifică</p>
            <p
              class="text-body"
            >Dacă apar schimbări în orar poți solicita modificarea și în aplicație. Nu vrem să ajungi din întâmplare la alt curs.</p>
          </div>
          <q-icon name="account_balance" />
        </div>

        <div class="content-right">
          <q-icon name="feedback" />
          <div class="text-right">
            <p class="text-subtitle text-weight-bold">Feedback</p>
            <p
              class="text-body"
            >Avem nevoie de părerea ta pentru îmbunătățiri. Spune-ne ce crezi că ar trebui să mai adăugăm pentru a-ți face studenția mai ușoară.</p>
          </div>
        </div>

        <div class="text-center">
          <p class="text-subtitle">Te-am convins?</p>
          <q-btn @click="handleRegister" outline style="color: #226754">inscrie-te acum &rarr;</q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>
<style lang="scss" scoped>
.q-page {
  font-size: 1em;
  .container {
    margin: 0;
    display: flex;
    flex-direction: column;

    .top {
      background-image: url(../assets/background-sleep.svg);
      background-repeat: no-repeat;
      background-size: cover;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20%;

      height: 100vh;
      width: 100vw;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin-bottom: 15%;
        }
        .text-subtitle {
          font-size: 1.7em;
        }
      }

      p {
        text-align: center;
        margin-bottom: 60%;
        margin-top: 10%;
      }

      .text-overline {
        font-size: 1.2em;
      }
    }

    .bottom {
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      div {
        margin-bottom: 15%;
      }
      .content-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        .q-icon,
        .text-right {
          flex-basis: 0;
          flex-grow: 1;
        }

        .q-icon {
          margin-bottom: 15%;
          font-size: 3em;
          transform: rotate(-14.7deg);
          color: #1a4e40;
        }

        .text-right {
          flex-grow: 2;
        }
      }
      .content-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;

        .q-icon,
        .text-left {
          flex-basis: 0;
          flex-grow: 1;
        }

        .q-icon {
          margin-bottom: 15%;
          font-size: 3em;
          color: #1a4e40;
        }

        .text-left {
          flex-grow: 2;
        }
      }
    }
  }

  //--------- BLOB SHAPES CSS ---------
  //   <div class="blob1">
  //   <!-- This SVG is from https://codepen.io/Ali_Farooq_/pen/gKOJqx -->
  //   <svg
  //   width="600"
  //   height="600"
  //   viewBox="0 0 600 600"
  //   xmlns="http://www.w3.org/2000/svg"
  // >
  //   <g transform="translate(300,300)">
  //     <path d="M144.5,-173.9C183.2,-170.8,207.6,-123.1,203.7,-79.4C199.7,-35.6,167.4,4.1,145.3,39.5C123.1,74.8,111.2,105.8,88.7,114C66.2,122.1,33.1,107.6,6,99.3C-21.2,91.1,-42.3,89.2,-76.2,84.8C-110.2,80.3,-156.8,73.2,-179.6,47.8C-202.3,22.5,-201,-21.2,-186.2,-58.5C-171.4,-95.8,-143,-126.8,-109.7,-131.7C-76.4,-136.5,-38.2,-115.3,7.3,-125.4C52.9,-135.5,105.8,-177,144.5,-173.9Z" fill="#f78da7" />
  //   </g>
  // </svg>
  // </div>

  // <div class="blob3">
  //   <!-- This SVG is from https://codepen.io/Ali_Farooq_/pen/gKOJqx -->
  //   <svg
  //   width="600"
  //   height="600"
  //   viewBox="0 0 600 600"
  //   xmlns="http://www.w3.org/2000/svg"
  // >
  //   <g transform="translate(300,300)">
  //     <path d="M144.5,-173.9C183.2,-170.8,207.6,-123.1,203.7,-79.4C199.7,-35.6,167.4,4.1,145.3,39.5C123.1,74.8,111.2,105.8,88.7,114C66.2,122.1,33.1,107.6,6,99.3C-21.2,91.1,-42.3,89.2,-76.2,84.8C-110.2,80.3,-156.8,73.2,-179.6,47.8C-202.3,22.5,-201,-21.2,-186.2,-58.5C-171.4,-95.8,-143,-126.8,-109.7,-131.7C-76.4,-136.5,-38.2,-115.3,7.3,-125.4C52.9,-135.5,105.8,-177,144.5,-173.9Z" fill="#f78da7" />
  //   </g>
  // </svg>
  // </div>
  // <h1>look at<br>this go!</h1>
  // @import url("https://fonts.googleapis.com/css?family=Poppins:700");
  // body {
  //   margin: 0;
  //   padding: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   overflow: hidden;
  //   position: relative;
  //   background: #ffb1a4;

  //   display: flex;
  //   align-items: center;
  // }
  // h1 {
  //   color: white;
  //   font-size: 20vmin;
  //   line-height: 1;
  //   font-weight: bold;
  //   letter-spacing: 2px;
  //   font-family: "Poppins", sans-serif;
  //   text-transform: uppercase;
  //   padding-left: 40px;
  // }
  // .blob1,
  // blob2,
  // blob3 {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   fill: #023f92;
  //   width: 50vmax;
  //   z-index: -1;
  //   transform-origin: 50% 50%;
  // }
  // .blob1 {
  //   animation: move1 90s ease-in-out infinite;
  // }
  // .blob3 {
  //   top: 70vh;
  //   left: -30vh;
  //   animation: move3 10s ease-in-out infinite;
  //   transform-origin: 20% 50%;
  //   z-index: -1;
  // }
  // @keyframes move1 {
  //   0% {
  //     transform: scale(1) translate(10px, -30px);
  //   }
  //   40% {
  //     transform: scale(0.8, 1) translate(50vw, 15vh) rotate(10deg);
  //   }
  //   78% {
  //     transform: scale(0.9) translate(0vw, 30vh) rotate(-10deg);
  //   }
  //   100% {
  //     transform: scale(1) translate(10px, -30px);
  //   }
  // }
  // @keyframes move3 {
  //   0% {
  //     transform: translate(52px, 74px) rotate(0deg);
  //   }
  //   40% {
  //     transform: translate(-1px, 102px);
  //   }
  //   50% {
  //     transform: translate(228px, 1px);
  //   }
  //   80% {
  //     transform: translate(-3px, -2px);
  //   }
  //   100% {
  //     transform: translate(200px, 0px) rotate(180deg);
  //   }
  // }
}
</style>
<script>
export default {
  name: "landingpage",
  methods: {
    handleRegister() {
      this.$router.push({ name: "Auth" });
    }
  }
};
</script>