<template>
  <q-page class="q-pa-md">
    <q-table
      title="Studenti"
      :data="filterResult"
      :columns="studentsColumns"
      row-key="id"
      class="my-sticky-column-table"
      wrap-cells
    >
      <template v-slot:top-right>
        <q-input borderless dense debounce="200" color="primary" v-model="filterInput">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <!-- <q-td auto-width>
            <q-btn
              size="sm"
              color="accent"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            />
          </q-td>
          <q-td v-for="col in props.cols" :key="col.name" :props="props">{{ col.value }}</q-td>-->
          <q-td key="firstName" :props="props" auto-width>{{ props.row.firstName }}</q-td>
          <q-td key="lastName" :props="props">{{ props.row.lastName }}</q-td>
          <q-td key="role" :props="props" v-if="showDropDown!==props.row.id">{{ props.row.role }}</q-td>

          <q-td>
            <q-btn
              flat
              color="primary"
              icon="edit"
              v-if="showDropDown!==props.row.id"
              @click="toggleEditRole(props.row)"
            />
            <q-select
              v-if="showDropDown===props.row.id"
              v-model="roleSelected"
              :options="roleOptions"
              outlined
              dense
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <div class="btn-ribbon" v-if="showDropDown">
      <q-btn @click="dialog=true" unelevated rounded color="primary" label="Salvează" />
      <q-btn @click="handleCancel" unelevated rounded color="primary" label="Anulează" />
    </div>

    <q-dialog v-model="dialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar color="red" text-color="white" size="45px" icon="warning" />

          <span class="q-ml-sm">Ești sigur ca vrei sa schimbi rolul?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Confirmă" @click="handleSaveRole" color="primary" v-close-popup />
          <q-btn flat label="Anulează" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default {
  name: "manageRoles",
  data() {
    return {
      filterInput: "",
      roleSelected: "",
      selectedStudent: null,
      showDropDown: false,
      dialog: false,
      roleOptions: ["Basic", "GroupLead"],

      studentsColumns: [
        {
          name: "lastName",
          required: true,
          label: "Nume",
          align: "left",
          field: row => row.firstName,
          format: val => `${val}`,
          sortable: true,
          style: "width: 500px"
        },
        {
          name: "firstName",
          label: "Prenume",
          field: "lastName",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
          style: "width: 500px"
        },
        {
          name: "role",
          label: "Rol",
          field: row => row.role,
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10),
          style: "width: 500px"
        }
      ],
      studentsList: [
        {
          id: 1,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "GroupLead"
        },
        {
          id: 2,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 3,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 4,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 5,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 6,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 7,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 8,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 9,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 10,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 11,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 12,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 13,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 14,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 15,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 16,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 17,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 18,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 19,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 20,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 21,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 22,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 23,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        },
        {
          id: 24,
          firstName: "Cini",
          lastName: "Minis",
          role: "Basic"
        },
        {
          id: 25,
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          role: "Basic"
        }
      ]
    };
  },
  computed: {
    filterResult() {
      if (this.filterInput) {
        return this.studentsList.filter(item => {
          return this.filterInput
            .toLowerCase()
            .split(" ")
            .every(
              v =>
                item.firstName.toLowerCase().includes(v) ||
                item.lastName.toLowerCase().includes(v) ||
                item.role.toLowerCase().includes(v)
            );
        });
      } else {
        return this.studentsList;
      }
    }
  },
  methods: {
    toggleEditRole(selectedStudent) {
      this.showDropDown = selectedStudent.id;
      this.selectedStudent = { ...selectedStudent };
      this.roleSelected = this.selectedStudent.role;
    },
    handleCancel() {
      this.showDropDown = !this.showDropDown;
    },
    handleSaveRole() {
      //post in BD si dupa refresh
      let studentIndex = this.studentsList.findIndex(
        x => x.id == this.selectedStudent.id
      );
      this.studentsList[studentIndex].role = this.roleSelected;
      this.$q.notify(
        `Studentul ${this.selectedStudent.firstName} a primit rolul de ${this.roleSelected}.`
      );
    }
  }
};
</script>
<style lang="scss">
.btn-ribbon {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}
</style>
