<template>
  <q-page>
    <q-card class="content">
      <q-tabs
        v-model="tab"
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="notifications" label="Notificari">
          <!-- <q-badge
            v-if="notifications.length > 0 "
            color="orange"
            text-color="black"
            style="border-radius: 50%; width: 5px; height: 11.5px;"
          />-->
        </q-tab>
        <q-tab name="changeRequests" label="Cereri">
          <q-badge
            v-if="changeRequests.length > 0"
            color="orange"
            text-color="black"
            style="border-radius: 50%; width: 5px; height: 11.5px;"
          />
        </q-tab>
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="notifications">
          <p
            v-if="notifications.length < 1"
            class="no-notification text-subtitle"
          >
            Nu ai notificari noi
          </p>
          <NotificationCapsule
            v-for="(item, index) in notifications"
            :key="index"
            v-bind:notification="item"
          />
          <Fab />
        </q-tab-panel>
        <q-tab-panel class="requests-middle" name="changeRequests">
          <q-table
            grid
            card-class="bg-primary text-white"
            :data="changeRequests"
            :columns="changeRequestColumns"
            row-key="name"
            :filter="filter"
          >
            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="200"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>

            <template v-slot:item="props">
              <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <q-card>
                  <q-card-section class="text-subtitle2">
                    {{ setChangeLogTitle(props.row.payload) }}
                  </q-card-section>
                  <q-separator />
                  <q-list dense>
                    <q-item
                      v-for="col in props.cols.filter(
                        col => col.name !== 'title'
                      )"
                      :key="col.name"
                    >
                      <q-item-section>
                        <q-item-label>{{ col.label }}</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label caption>{{ col.value }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                  <q-separator />
                  <q-card-actions class="align-right">
                    <q-btn
                      outline
                      color="primary"
                      label="info"
                      @click="handleShowInfoCard(props.row)"
                    ></q-btn>

                    <q-dialog v-model="changeLogDialog">
                      <AddClassInfoCard
                        v-if="
                          props.row.payload.type === 'class' &&
                            props.row.payload.operation === 'ADD'
                        "
                        :title="setChangeLogTitle(props.row.payload)"
                        :infoCardDetails="selectedRequest"
                      />
                      <AddSubjectInfoCard
                        v-else-if="
                          props.row.payload.type === 'subject' &&
                            props.row.payload.operation === 'ADD'
                        "
                        :title="setChangeLogTitle(props.row.payload)"
                        :infoCardDetails="selectedRequest"
                      />
                      <AddProfessorInfoCard
                        v-else-if="
                          props.row.payload.type === 'professor' &&
                            props.row.payload.operation === 'ADD'
                        "
                        :title="setChangeLogTitle(props.row.payload)"
                        :infoCardDetails="selectedRequest"
                      />
                      <AddClassroomInfoCard
                        v-else-if="
                          props.row.payload.type === 'classroom' &&
                            props.row.payload.operation === 'ADD'
                        "
                        :title="setChangeLogTitle(props.row.payload)"
                        :infoCardDetails="selectedRequest"
                      />
                      <AddClassroomInfoCard
                        v-else-if="
                          props.row.payload.type === 'classroom' &&
                            props.row.payload.operation === 'ADD'
                        "
                        :title="setChangeLogTitle(props.row.payload)"
                        :infoCardDetails="selectedRequest"
                      />
                      <EditClassInfoCard
                        v-else-if="
                          props.row.payload.type === 'class' &&
                            props.row.payload.operation === 'EDIT'
                        "
                        :title="setChangeLogTitle(props.row.payload)"
                        :infoCardDetails="selectedRequest"
                      />
                      <EditSubjectInfoCard
                        v-else-if="
                          props.row.payload.type === 'subject' &&
                            props.row.payload.operation === 'EDIT'
                        "
                        :title="setChangeLogTitle(props.row.payload)"
                        :infoCardDetails="selectedRequest"
                      />
                    </q-dialog>

                    <div
                      v-if="
                        props.row.status !== 'ACCEPTED' &&
                          props.row.status !== 'REJECTED'
                      "
                    >
                      <q-btn
                        flat
                        color="secondary"
                        @click="acceptChange(props.row.id)"
                        icon="check"
                      ></q-btn>
                      <q-btn
                        flat
                        color="red"
                        @click="rejectChange(props.row.id)"
                        icon="close"
                      ></q-btn>
                    </div>
                  </q-card-actions>
                </q-card>
              </div>
            </template>
          </q-table>
          <Fab />
        </q-tab-panel>
      </q-tab-panels>

      <q-dialog v-model="manageRolesMode">
        <q-card style="width: 300px" class="q-px-sm q-pb-md">
          <q-card-section>
            <div class="text-h6">Administreaza roluri</div>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn
              flat
              label="Anuleaza"
              @click="handleCancelRoles"
              color="primary"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-card>
  </q-page>
</template>

<style lang="scss">
.q-page {
  .no-notification {
    padding: 70px 0;
    text-align: center;
  }
  .q-card {
    box-shadow: none;
  }
  .requests-middle {
    display: flex;
    justify-content: center;
  }
  .q-table__container {
    position: relative;
    // width: 70vw;
    margin-bottom: 5vh;

    .align-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .q-badge {
    margin-bottom: 3px;
    margin-left: 2px;
    position: absolute;
  }
}

@media (min-width: 801px) {
  // .q-page {
  //   padding-left: 30%;
  //   padding-right: 30%;
  // }
}
</style>

<script>
import NotificationCapsule from "../components/management/NotificationCapsule.vue";
import Fab from "../components/management/Fab.vue";
import AddClassInfoCard from "../components/management/info-cards/AddClassInfoCard.vue";
import AddSubjectInfoCard from "../components/management/info-cards/AddSubjectInfoCard.vue";
import AddProfessorInfoCard from "../components/management/info-cards/AddProfessorInfoCard.vue";
import AddClassroomInfoCard from "../components/management/info-cards/AddClassroomInfoCard.vue";

import EditClassInfoCard from "../components/management/info-cards/EditClassInfoCard.vue";
import EditSubjectInfoCard from "../components/management/info-cards/EditSubjectInfoCard.vue";

export default {
  name: "management",
  components: {
    NotificationCapsule,
    Fab,
    AddClassInfoCard,
    AddSubjectInfoCard,
    AddProfessorInfoCard,
    AddClassroomInfoCard,
    EditClassInfoCard,
    EditSubjectInfoCard
  },
  data() {
    return {
      selectedNotification: null,
      selectedRequest: null,
      isSelectedNotification: false,
      tab: "notifications",
      filter: "",
      changeLogDialog: false,
      changeRequestColumns: [
        {
          name: "title",
          required: true,
          align: "left",
          field: row => row.payload,
          format: val => this.setChangeLogTitle(val),
          sortable: true
        },

        { name: "status", label: "Status", field: "status", sortable: true },
        {
          name: "type",
          label: "Grupa/Seria",
          field: row => ({ level: row.level, target: row.target }),
          format: val => this.setTargetOnChangeRequest(val)
        },
        {
          name: "user",
          label: "Utilizator",
          field: row => row.user,
          format: val => `${val.firstName} ${val.lastName}`,
          sortable: true
        }
      ]
    };
  },
  computed: {
    notifications() {
      return this.$store.getters["managementData/getNotifications"];
    },
    manageRolesMode() {
      return this.$store.getters["profileData/getManageRolesState"];
    },
    changeRequests() {
      return this.$store.getters["managementData/getChangeRequests"];
    },
    operationTypes() {
      return this.$store.getters["managementData/getOperationType"];
    },
    changeLogTypes() {
      return this.$store.getters["managementData/getChangeLogType"];
    },
    changeLogStatus() {
      return this.$store.getters["managementData/getChangeLogStatus"];
    },
    allGroups() {
      return this.$store.getters["managementData/getAllGroups"];
    },
    allSeries() {
      return this.$store.getters["managementData/getAllSeries"];
    }
  },
  methods: {
    acceptChange(id) {
      this.$axios
        .post("/api/changelog/accept", {
          id
        })
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message,
            icon: "thumb_up"
          });
        })
        .catch(e => {
          this.$q.notify({
            color: "negative",
            message: e.response.data.message,
            icon: "report_problem"
          });
        });
    },
    rejectChange(id) {
      this.$axios
        .post("/api/changelog/reject", {
          id
        })
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message,
            icon: "thumb_up"
          });
        })
        .catch(e => {
          this.$q.notify({
            color: "negative",
            message: e.response.data.message,
            icon: "report_problem"
          });
        });
    },
    viewSelectedNotification() {
      this.isSelectedNotification = true;
    },
    handleCancelRoles() {
      this.$store.dispatch("profileData/disableManageRolesMode");
    },
    setTargetOnChangeRequest({ target, level }) {
      switch (level) {
        case "GroupLead":
          return `Grupa ${
            this.allGroups.find(item => item.id === parseInt(target)).number
          }`;
        case "SeriesLead":
          return `Seria ${
            this.allSeries.find(item => item.id === parseInt(target)).name
          }`;
        default:
          return "CSIE";
      }
    },
    setChangeLogTitle({ type, operation }) {
      return `${this.operationTypes[operation]} ${this.changeLogTypes[type]}`;
    },
    handleShowInfoCard(selectedRow) {
      this.changeLogDialog = true;
      this.selectedRequest = {
        id: selectedRow.id,
        payloadData: selectedRow.payload.data,
        userData: selectedRow.user,
        targetData: selectedRow.target,
        levelData: selectedRow.level
      };
    }
  }
};
</script>
