<template>
  <q-page>
    <q-card class="content">
      <q-tabs
        v-model="tab"
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="professors" label="Profesori" />
        <q-tab name="subjects" label="Materii" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="professors">
          <div>
            <ProfessorTable />

            <div class="btn-ribbon">
              <q-btn
                @click="toggleBtnAddProfessor"
                unelevated
                rounded
                v-if="!isClickedEditProfessor && !isClickedAddProfessor"
                color="primary"
                label="Adauga profesor"
              />
              <q-btn
                @click="handleAddSaveProfessor"
                v-if="isClickedAddProfessor && !isClickedEditProfessor"
                unelevated
                rounded
                color="primary"
                label="Save"
              />
              <q-btn
                @click="handleAddCancelProfessor"
                v-if="isClickedAddProfessor && !isClickedEditProfessor"
                unelevated
                rounded
                color="primary"
                label="Cancel"
              />
              <q-btn
                @click="toggleBtnEditProfessor"
                unelevated
                rounded
                v-bind:isEditProf="isClickedEditProfessor"
                color="primary"
                v-if="!isClickedAddProfessor "
                label="Modifica profesor"
              />
              <q-btn
                @click="handleEditSaveProfessor"
                v-if="isClickedEditProfessor "
                unelevated
                rounded
                color="primary"
                label="Save"
              />
              <q-btn
                @click="handleEditCancelProfessor"
                v-if="isClickedEditProfessor"
                unelevated
                rounded
                color="primary"
                label="Cancel"
              />
            </div>

            <div class="professor-form" v-if="isClickedAddProfessor && !isClickedEditProfessor">
              <q-input filled v-model="firstName" :rules="nameRules" label="Nume" />
              <q-input filled v-model="lastName" :rules="nameRules" label="Prenume" />
              <q-input v-model="email" filled type="email" label="Email" />
            </div>
          </div>
        </q-tab-panel>

        <q-tab-panel name="subjects">
          <div>
            <SubjectTable />

            <div class="btn-ribbon">
              <q-btn
                @click="toggleBtnAddSubject"
                v-if="!isClickedEditSubject && !isClickedAddSubject"
                unelevated
                rounded
                color="primary"
                label="Adauga materie"
              />
              <q-btn
                @click="handleAddSaveSubject"
                v-if="isClickedAddSubject && !isClickedEditSubject"
                unelevated
                rounded
                color="primary"
                label="Save"
              />
              <q-btn
                @click="handleAddCancelSubject"
                v-if="isClickedAddSubject && !isClickedEditSubject"
                unelevated
                rounded
                color="primary"
                label="Cancel"
              />
              <q-btn
                @click="toggleBtnEditSubject"
                unelevated
                rounded
                v-if="!isClickedAddSubject "
                color="primary"
                label="Modifica materie"
              />
              <q-btn
                @click="handleEditSaveSubject"
                v-if="isClickedEditSubject "
                unelevated
                rounded
                color="primary"
                label="Save"
              />
              <q-btn
                @click="handleEditCancelSubject"
                v-if="isClickedEditSubject"
                unelevated
                rounded
                color="primary"
                label="Cancel"
              />
            </div>

            <div class="professor-form" v-if="isClickedAddSubject && !isClickedEditSubject">
              <q-input filled v-model="subjectName" label="Nume" />
              <q-input filled v-model="subjectShortName" label="Prescurtare" />
              <q-input filled v-model="subjectYear" type="number" label="An" />
              <q-input filled v-model="subjectSemester" type="number" label="Semestru" />
            </div>
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<style lang="scss">
.q-card {
  box-shadow: none;
}
.q-table__container {
  position: relative;
  width: 90vw;
  margin-bottom: 5vh;
}

.btn-ribbon {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.professor-form {
  margin: 10px 0;
  .q-input {
    margin: 10px 0;
  }
}
@media (min-width: 801px) {
  .q-table__container {
    position: relative;
    width: 50vw;
    margin-bottom: 5vh;
    margin-top: 5px;
  }
}
</style>

<script>
import ProfessorTable from "../components/professor/ProfessorTable.vue";
import SubjectTable from "../components/professor/SubjectTable.vue";

export default {
  name: "Professors",
  components: {
    ProfessorTable,
    SubjectTable
  },
  data() {
    return {
      tab: "professors",
      nameRules: [
        val => (val && val.length > 0) || "Campul nu poate fi gol",
        val => val.length < 50 || "Lungimea maxima este de 50 de caractere"
      ],
      nameRegex: "^[a-zA-Z -șȘăĂîÎâÂțȚ]{7,}$",

      firstName: "",
      lastName: "",
      email: "",
      subjectName: "",
      subjectShortName: "",
      subjectYear: "",
      subjectSemester: "",

      isClickedAddProfessor: false,
      isClickedEditProfessor: false,
      isClickedAddSubject: false,
      isClickedEditSubject: false
    };
  },
  mounted() {
    console.log("this is professor subjects");
    console.log(this.allProfessorSubjects);
  },
  computed: {
    allProfessorSubjects() {
      return this.$store.getters["scheduleData/getProfessorsSubjects"];
    }
  },
  methods: {
    toggleBtnAddProfessor() {
      this.isClickedAddProfessor = !this.isClickedAddProfessor;
    },
    toggleBtnEditProfessor() {
      this.isClickedEditProfessor = !this.isClickedEditProfessor;
      this.isClickedAddProfessor = !this.isClickedAddProfessor;
    },
    handleAddSaveProfessor() {
      //send request to the server
      this.isClickedAddProfessor = !this.isClickedAddProfessor;
    },
    handleAddCancelProfessor() {
      this.isClickedAddProfessor = !this.isClickedAddProfessor;
    },
    handleEditSaveProfessor() {
      //send request to the server
      this.isClickedEditProfessor = !this.isClickedEditProfessor;
      this.isClickedAddProfessor = !this.isClickedAddProfessor;
    },
    handleEditCancelProfessor() {
      this.isClickedEditProfessor = !this.isClickedEditProfessor;
      this.isClickedAddProfessor = !this.isClickedAddProfessor;
    },
    toggleBtnAddSubject() {
      this.isClickedAddSubject = !this.isClickedAddSubject;
    },
    toggleBtnEditSubject() {
      this.isClickedEditSubject = !this.isClickedEditSubject;
      this.isClickedAddSubject = !this.isClickedAddSubject;
    },
    handleAddSaveSubject() {
      //send request to the server
      this.isClickedAddSubject = !this.isClickedAddSubject;
    },
    handleAddCancelSubject() {
      this.isClickedAddSubject = !this.isClickedAddSubject;
    },
    handleEditSaveSubject() {
      //send request to the server
      this.isClickedEditSubject = !this.isClickedEditSubject;
      this.isClickedAddSubject = !this.isClickedAddSubject;
    },
    handleEditCancelSubject() {
      this.isClickedEditSubject = !this.isClickedEditSubject;
      this.isClickedAddSubject = !this.isClickedAddSubject;
    }
  }
};
</script>
