<template>
  <q-page>
    <div class="container">
      <div class="top">
        <student-header />
      </div>
      <div class="bottom">
        <StudentInfo />
      </div>
    </div>
  </q-page>
</template>

<style lang="scss" scoped>
.q-page {
  display: flex;
  flex-direction: column;

  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;

    .top,
    .bottom {
      flex-basis: 0;
      flex-grow: 1;
    }

    .top {
      height: 20%;
      color: #404040;
      padding-top: 15px;
      padding-left: 30px;
    }

    .bottom {
      background-color: #f2f2f2;
      border-radius: 30px 30px 0px 0px;
      padding-top: 20px;
      flex-grow: 4;
    }
  }
}
</style>

<script>
import StudentInfo from "../components/profile/StudentInfo.vue";
import StudentHeader from "../components/profile/StudentHeader.vue";

export default {
  name: "Profile",
  components: {
    StudentInfo,
    StudentHeader
  }
};
</script>
