<template>
  <q-page>
    <q-card class="content">
      <q-tabs
        v-model="scheduleTab"
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="group" label="Grupa" />
        <q-tab name="personal" label="Personal" />
      </q-tabs>

      <q-tab-panels v-model="scheduleTab" animated>
        <q-tab-panel name="group">
          <div class="schedule-slot">
            <q-card class="my-card">
              <q-tabs
                v-model="day.dayTab"
                class="text-grey week-tabs"
                active-color="primary"
                indicator-color="primary"
                align="justify"
                narrow-indicator
              >
                <q-tab name="monday" label="L" />
                <q-tab name="tuesday" label="M" />
                <q-tab name="wednesday" label="M" />
                <q-tab name="thursday" label="J" />
                <q-tab name="friday" label="V" />
              </q-tabs>
            </q-card>
            <q-tab-panels v-model="day.dayTab" animated>
              <q-tab-panel class="hour-slot" name="monday">
                <ScheduleCapsule v-for="(item, index) in group(1)" :key="index" v-bind:day="item" />

                <q-btn
                  flat
                  @click="handleClickOnAdd(1)"
                  v-if="stateMode == stateModeType.editSchedule"
                  label="Adauga ora noua"
                  color="primary"
                />
              </q-tab-panel>
              <q-tab-panel class="hour-slot" name="tuesday">
                <ScheduleCapsule v-for="(item, index) in group(2)" :key="index" v-bind:day="item" />

                <q-btn
                  flat
                  @click="handleClickOnAdd(2)"
                  v-if="stateMode == stateModeType.editSchedule"
                  label="Adauga ora noua"
                  color="primary"
                />
              </q-tab-panel>
              <q-tab-panel class="hour-slot" name="wednesday">
                <ScheduleCapsule v-for="(item, index) in group(3)" :key="index" v-bind:day="item" />
                <q-btn
                  flat
                  @click="handleClickOnAdd(3)"
                  v-if="stateMode == stateModeType.editSchedule"
                  label="Adauga ora noua"
                  color="primary"
                />
              </q-tab-panel>
              <q-tab-panel class="hour-slot" name="thursday">
                <ScheduleCapsule v-for="(item, index) in group(4)" :key="index" v-bind:day="item" />
                <q-btn
                  flat
                  @click="handleClickOnAdd(4)"
                  v-if="stateMode == stateModeType.editSchedule"
                  label="Adauga ora noua"
                  color="primary"
                />
              </q-tab-panel>
              <q-tab-panel class="hour-slot" name="friday">
                <ScheduleCapsule v-for="(item, index) in group(5)" :key="index" v-bind:day="item" />
                <q-btn
                  flat
                  @click="handleClickOnAdd(5)"
                  v-if="stateMode == stateModeType.editSchedule"
                  label="Adauga ora noua"
                  color="primary"
                />
              </q-tab-panel>
            </q-tab-panels>
          </div>

          <q-dialog v-model="dialog" :position="position">
            <AddScheduleCard :selectedWeekDayId="displayedDayId" />
          </q-dialog>
        </q-tab-panel>

        <!-- <q-tab-panel flex-center name="personal">
          <div class="q-pa-md schedule-slot">
            <q-card class="my-card">
              <q-tabs
                v-model="dayTab"
                class="text-grey week-tabs"
                active-color="primary"
                indicator-color="primary"
                align="justify"
                narrow-indicator
              >
                <q-tab name="monday" label="L" />
                <q-tab name="tuesday" label="M" />
                <q-tab name="wednesday" label="M" />
                <q-tab name="thursday" label="J" />
                <q-tab name="friday" label="V" />
              </q-tabs>
            </q-card>
          </div>
        </q-tab-panel>-->
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<style lang="scss">
.container-edit {
  box-shadow: 0px 0px 35px 4px rgba(81, 115, 196, 1);
  margin-top: 0px;
}

.q-page {
  background-color: #dddddd;
}
.q-card {
  margin-bottom: 1px;
}
.my-card {
  margin-bottom: 20px;
}

.q-tab-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 1px;
}
.q-tab-panels {
  height: 100%;
}
.q-tab {
  padding: 0 5px;
}

.q-card > div {
  margin-top: 0;
}
.hour-slot {
  padding: 0 20px;
}

.hour-slot-edit {
  padding-top: 10px;
}

.schedule-slot {
  width: 100%;
  padding-top: 0;
}
.q-tab__label {
  font-size: 16px;
}

@media only screen and (min-width: 1200px) {
  .schedule-slot {
    width: 60%;
    .my-card {
      width: 100%;
    }
  }
}
</style>

<script>
import ScheduleCapsule from "../components/schedule/ScheduleCapsule.vue";
import AddScheduleCard from "../components/schedule/AddScheduleCard.vue";

export default {
  name: "Schedule",
  components: {
    ScheduleCapsule,
    AddScheduleCard
  },
  data() {
    return {
      scheduleTab: "group",
      day: {
        id: 0,
        dayTab: "monday"
      },
      displayedDayId: 1,
      dialog: false,
      position: "bottom"
    };
  },
  computed: {
    personal() {
      return this.$store.getters["scheduleData/getPersonalSchedule"];
    },
    stateMode() {
      return this.$store.getters["profileData/getStateMode"];
    },
    stateModeType() {
      return this.$store.getters["profileData/getStateModeType"];
    }
  },
  beforeMount() {
    const date = new Date();
    switch (date.getDay()) {
      case 2:
        this.day.id = 2;
        this.day.dayTab = "tuesday";
        break;
      case 3:
        this.day.id = 3;
        this.day.dayTab = "wednesday";
        break;
      case 4:
        this.day.id = 4;
        this.day.dayTab = "thursday";
        break;
      case 5:
        this.day.id = 5;
        this.day.dayTab = "friday";
        break;
      default:
        this.day.id = 1;
        this.day.dayTab = "monday";
    }
  },
  beforeDestroy() {
    this.$store.dispatch("profileData/setViewScheduleStateMode");
  },
  methods: {
    group(weekDayId) {
      return this.$store.getters["scheduleData/getGroupSchedule"].filter(
        item => item.timeUnit.weekday.id === weekDayId
      );
    },
    back() {
      this.reset();
    },
    onLeft({ reset }) {
      this.finalize(reset);
    },

    onRight({ reset }) {
      this.reset = reset;
    },
    handleClickOnAdd(displayedDayId) {
      this.displayedDayId = displayedDayId;
      this.dialog = true;
    }
  }
};
</script>
