<template>
  <blockquote>
    <p class="quotation">{{ this.quote }}</p>
    <footer>{{ this.author }}</footer>
  </blockquote>
</template>

<style lang="scss">
/* center the blockquote in the page */
.quotation {
  font-size: 20px;
  //margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
footer {
  margin: 0;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
}
</style>

<script>
export default {
  name: "motivationalQuotes",
  data: function() {
    return {
      text: "",
      from: ""
    };
  },
  beforeMount() {
    this.$store.dispatch("quoteData/getQuote");
  },
  computed: {
    quote() {
      return this.$store.getters["quoteData/getQuote"];
    },
    author() {
      return this.$store.getters["quoteData/getAuthor"];
    }
  }
};
</script>
