// app global css in SCSS form
@font-face {
  font-family: catamaran-regular;
  src: url(./fonts/Catamaran-Regular.ttf);
}

@font-face {
  font-family: open-sans-regular;
  src: url(./fonts/OpenSans-Regular.ttf);
}

$gradients: () !default;
$gradients: map-merge(
  (
    chill: linear-gradient(135deg, #5fbaff 0%, #7697ff 50%, #9b5fff 100%),
    warm: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%),
    hot: linear-gradient(135deg, #f9445a 0%, #fd803f 100%),
    cold: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%)
  ),
  $gradients
);

@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}

@each $gradient, $value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

.text-body {
  font-family: "catamaran-regular";
}

.text-subtitle {
  font-family: "open-sans-regular";
}
.text-title {
  font-family: "source-sans-pro-regular";
}

.q-footer,
.q-header {
  background-image: -moz-linear-gradient(
    90deg,
    rgba(95, 186, 255, 1) 0%,
    rgba(118, 151, 255, 1) 50%,
    rgba(155, 95, 255, 1) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(95, 186, 255, 1) 0%,
    rgba(118, 151, 255, 1) 50%,
    rgba(155, 95, 255, 1) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgba(95, 186, 255, 1) 0%,
    rgba(118, 151, 255, 1) 50%,
    rgba(155, 95, 255, 1) 100%
  );
}

.q-page {
  background-color: #dddddd;
  .content {
    // width: 100%;

    .q-tab-panels {
      background-color: #dddddd;
    }
  }
}
