<template>
  <q-page-sticky position="bottom-right" :offset="[18, 30]">
    <q-fab color="amber" text-color="black" icon="keyboard_arrow_left" direction="left">
      <q-fab-action
        color="amber"
        text-color="black"
        @click="handleManageRoles"
        icon="person_add"
        style="margin-bottom: 180px; margin-right: -60px;"
      />
      <!-- <span style="margin-bottom: 190px; margin-right: 0px; width: 60px;">Administreaza Roluri</span> -->

      <q-fab-action
        color="amber"
        text-color="black"
        @click="handleChangeRequests"
        icon="list"
        style="margin-bottom: 110px;margin-right: 13px;"
      />
      <!-- <span style="margin-bottom: 60px; margin-right: -20px; width: 131px;">Modifica orar</span> -->

      <q-fab-action
        color="amber"
        text-color="black"
        @click="handleNotifications"
        icon="notifications_none"
        style="margin-right: -11px;

margin-bottom: 0px;"
      />
      <!-- <span style="width:100px;">Adauga notificare</span> -->
    </q-fab>
  </q-page-sticky>
</template>

<style lang="scss"></style>

<script>
export default {
  name: "fab",
  data() {
    return {};
  },
  computed: {
    isEditMode() {
      return this.$store.getters["profileData/isEditMode"];
    }
  },
  methods: {
    handleManageRoles() {
      this.$router.push({ name: "Roles" });
    },
    handleChangeRequests() {
      this.$store.dispatch("profileData/setEditScheduleStateMode");
      this.$router.push({ name: "Schedule" });
    },
    handleNotifications() {
      this.$store.dispatch("profileData/setAddNotificationStateMode");
      this.$router.push({ name: "Schedule" });
    }
  }
};
</script>
