<template>
  <q-dialog v-model="dialog">
    <q-card>
      <q-card-section>
        <div class="col text-h6 ellipsis">{{this.selectedNotification.title}}</div>
        <div class="text-subtitle">{{this.selectedNotification.from}}</div>
        <div class="text-caption text-grey">{{this.selectedNotification.description}}</div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Salveaza" @click="handleSaveNotification" color="primary" v-close-popup />
        <q-btn flat label="Anuleaza" color="primary" v-close-popup />
        <q-btn flat label="sterge" @click="handleDeleteNotification" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
<style lang="scss">
</style>
<script>
export default {
  name: "notificationCard",
  data() {
    return {
      notificationSelected: null,
      position: "bottom",
      isNotificationSelected: false,
      notificationDescription: ""
    };
  },
  props: {
    selectedNotification: Object,
    dialog: Boolean
  },
  methods: {
    handleSaveNotification() {
      this.$q.notify("Notificare acceptata");
      //POST catre baza de date
    },
    handleDeleteNotification() {
      this.$q.notify("Notificare stearsa");

      //POST catre baza de date
    }
  }
};
</script>