<template>
  <div class="container">
    <div class="capsule cursor-pointer" @click="viewNotification(notification)">
      <div class="right">
        <div class="first-top">
          <p class="text-uppercase text-subtitle">{{ notification.title }}</p>
          <p>{{ notification.from }}</p>
        </div>
        <div class="second-top">
          <p>{{ notification.description }}</p>
        </div>
      </div>
    </div>
    <NotificationCard
      v-if="isNotificationSelected"
      v-bind:selectedNotification="notificationSelected"
      v-bind:dialog="activateDialog"
    />
  </div>
</template>

<style lang="scss">
.q-slide-item {
  margin-bottom: 15px;
  border-radius: 7px;
  .q-slide-item__content {
    background: transparent;
  }
}

.container {
  box-shadow: 10px 8px 20px -14px rgba(0, 0, 0, 0.52);
  margin-bottom: 20px;
  width: 100%;

  .capsule {
    border-radius: 7px;
    background-color: #f2f2f2;
    width: 100%;

    display: flex;
    flex-direction: row;
    padding: 5px;

    img {
      height: 45px;
      max-width: 40px;
      margin-right: 15px;
    }

    .right {
      width: 80%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 5px;
      padding-right: 10px;
      margin-bottom: 6px;
      margin-top: 6px;

      .first-top,
      .second-top {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .text-title {
          font-size: 1.3em;
        }
        p {
          margin: 0;
          font-size: 1.05em;
          color: #828282;
        }
      }

      .first-top {
        .text-subtitle {
          font-weight: 600;
          color: #404040;
        }
      }
    }
  }
}

.container-edit {
  @extend .container;
  box-shadow: 0px 0px 20px 0px rgba(41, 44, 207, 1);
}

@media only screen and (min-width: 1200px) {
}
</style>

<script>
import NotificationCard from "./NotificationCard.vue";

export default {
  name: "NotificationCapsule",
  components: {
    NotificationCard
  },
  data() {
    return {
      notificationSelected: null,
      position: "bottom",
      isNotificationSelected: false,
      notificationDescription: "",
      activateDialog: false,
      notificationOptions: ["Tema", "Test", "Proiect", "Examen"]
    };
  },
  props: {
    notification: Object
  },
  computed: {
    isEditMode() {
      return this.$store.getters["profileData/isEditMode"];
    }
  },
  methods: {
    viewNotification(notification) {
      this.activateDialog = true;
      this.notificationSelected = notification;
      this.isNotificationSelected = true;
      console.log(notification);
    },
    handleSaveNotification() {
      this.$q.notify("Notificare acceptata");
      //POST catre baza de date
    },
    handleDeleteNotification() {
      this.$q.notify("Notificare stearsa");

      //POST catre baza de date
    }
  }
};
</script>
