<template>
  <q-layout view="lHr lpR lfr">
    <q-footer style class="text-center">made with love by our team</q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  name: "LandingPageLayout",
  methods: {
    openURL
  }
};
</script>

<style lang="scss" scoped>
.absolute-bottom {
  height: 2.5vh;
  color: #0b1f19;
  background-color: #8fc8b9;
}
</style>
