<template>
  <q-layout view="lHh lpr lFf">
    <!-- <q-header reveal elevated>
      <q-toolbar>
        <q-toolbar-title>SLEEP App</q-toolbar-title>
        <q-btn
          v-if="
            stateMode === stateModeType.addNotification ||
              stateMode === stateModeType.editSchedule
          "
          @click="handleExit"
          outline
          color="white"
          label="Exit"
          icon="clear"
        />
        <q-btn
          v-if="$router.currentRoute.name === 'Profile'"
          @click="logout"
          outline
          color="white"
          label="Logout"
          icon="clear"
        />
      </q-toolbar>
    </q-header>-->

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
      :breakpoint="767"
      :width="250"
    >
      <q-list>
        <q-item clickable exact to="/">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Acasa</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable exact to="/schedule">
          <q-item-section avatar>
            <q-icon name="list" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Orar</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable exact to="/management">
          <q-item-section avatar>
            <q-icon name="bookmarks" />
          </q-item-section>
          <q-item-section>
            <q-item-label>
              Administrare
              <q-badge
                v-if="notifications.length > 0 || changeRequests.length >0"
                color="orange"
                text-color="black"
                style="border-radius: 50%; width: 5px; height: 11.5px; margin-bottom: 15px; position: absolute;"
              />
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable exact to="/professors">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Profesori</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable exact to="/profile">
          <q-item-section avatar>
            <q-icon name="person" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Profil</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer>
      <q-tabs>
        <q-route-tab name="home" icon="home" to="/" />
        <q-route-tab name="list" icon="list" to="/schedule" />
        <q-route-tab name="bookmarks" icon="bookmarks" to="/management">
          <q-badge
            v-if="notifications.length > 0 || changeRequests.length >0"
            color="orange"
            text-color="black"
            style="border-radius: 50%;  width: 5px; height: 11.5px; margin-bottom: 15px; position: absolute;"
          />
        </q-route-tab>
        <q-route-tab name="school" icon="school" to="/professors" />
        <q-route-tab name="person" icon="person" to="/profile" />
      </q-tabs>
    </q-footer>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  name: "MainLayout",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  },
  methods: {
    openURL,
    handleExit() {
      this.$store.dispatch("profileData/setViewScheduleStateMode");
    },
    logout() {
      this.$axios
        .get("/api/auth/logout")
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message,
            icon: "thumb_up"
          });

          this.$store.dispatch("profileData/logout");
          this.$router.push({ name: "Auth" });
        })
        .catch(error => {
          switch (error.response.status) {
            default: {
              this.$q.notify({
                color: "negative",
                message: error.response.data.message,
                icon: "report_problem"
              });
            }
          }
        });
    }
  },
  computed: {
    notifications() {
      return this.$store.getters["managementData/getNotifications"];
    },
    changeRequests() {
      return this.$store.getters["managementData/getChangeRequests"];
    },
    getUser() {
      return this.$store.getters["profileData/getUser"];
    },
    stateMode() {
      return this.$store.getters["profileData/getStateMode"];
    },
    stateModeType() {
      return this.$store.getters["profileData/getStateModeType"];
    }
  },
  mounted() {
    this.$store.dispatch("scheduleData/loadProfessorsSubjects");
    this.$store.dispatch("scheduleData/loadTimeUnits");
    this.$store.dispatch("scheduleData/loadClassrooms");

    if (this.getUser.group) {
      this.$store.dispatch(
        "scheduleData/loadGroupSchedule",
        this.getUser.group.id
      );
    }
    this.$store.dispatch("managementData/loadChangeRequests");
    this.$store.dispatch("managementData/loadAllGroups");
    this.$store.dispatch("managementData/loadAllSeries");
    this.$store.dispatch("managementData/loadAllBuildings");
  }
};
</script>

<style lang="scss">
@media screen and (min-width: 768px) {
  .q-footer {
    display: none;
  }
  .absolute-bottom {
    /* height: 6.8%; */
  }
  .q-badge {
    margin-bottom: 5px;
    margin-left: 2px;
    position: absolute;
  }
}
</style>
