<template>
  <q-layout view="lHh lpr lFf">
    <q-header reveal elevated>
      <q-toolbar>
        <q-toolbar-title>SLEEP App</q-toolbar-title>
        <q-btn
          v-if="isAddNotification"
          @click="handleExitAddNotification"
          outline
          color="white"
          label="Exit Add Notification"
          icon="clear"
        />
        <q-btn
          v-if="isEditMode"
          @click="handleExitEditMode"
          outline
          color="white"
          label="Exit Edit Mode"
          icon="clear"
        />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  name: "MainLayout",
  data() {
    return {};
  },
  methods: {
    openURL,
    handleExitAddNotification() {
      this.$store.dispatch("profileData/disableAddNotificationMode");
    },
    handleExitEditMode() {
      this.$store.dispatch("profileData/disableEditMode");
    }
  },
  computed: {
    isAddNotification() {
      return this.$store.getters["profileData/getIsAddNotification"];
    },
    notifications() {
      return this.$store.getters["managementData/getNotifications"];
    },
    isEditMode() {
      return this.$store.getters["profileData/isEditMode"];
    }
  }
};
</script>

<style>
</style>
