<template>
  <div class="schedule-slot">
    <q-card class="my-card">
      <q-tabs
        v-model="dayTab"
        class="text-grey week-tabs"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="monday" label="L" />
        <q-tab name="tuesday" label="M" />
        <q-tab name="wednesday" label="M" />
        <q-tab name="thursday" label="J" />
        <q-tab name="friday" label="V" />
      </q-tabs>
    </q-card>
    <q-tab-panels v-model="dayTab" animated>
      <q-tab-panel class="hour-slot" name="monday">
        <ScheduleCapsule v-for="(item, index) in group(1)" :key="index" v-bind:day="item" />
      </q-tab-panel>
      <q-tab-panel class="hour-slot" name="tuesday">
        <ScheduleCapsule v-for="(item, index) in group(2)" :key="index" v-bind:day="item" />
      </q-tab-panel>
      <q-tab-panel class="hour-slot" name="wednesday">
        <ScheduleCapsule v-for="(item, index) in group(3)" :key="index" v-bind:day="item" />
      </q-tab-panel>
      <q-tab-panel class="hour-slot" name="thursday">
        <ScheduleCapsule v-for="(item, index) in group(4)" :key="index" v-bind:day="item" />
      </q-tab-panel>
      <q-tab-panel class="hour-slot" name="friday">
        <ScheduleCapsule v-for="(item, index) in group(5)" :key="index" v-bind:day="item" />
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
import ScheduleCapsule from "./ScheduleCapsule.vue";

export default {
  name: "scheduleSlotGroup",
  components: {
    ScheduleCapsule
  },
  data() {
    return {
      dayTab: "monday"
    };
  },
  computed: {
    group(weekDayId) {
      return this.$store.getters["scheduleData/getGroupSchedule"].filter(
        item => item.timeUnit.weekday.id === weekDayId
      );
    }
  }
};
</script>

<style lang="scss">
.q-card {
  margin-bottom: 1px;
}
.my-card {
  margin-bottom: 20px;
}
// .q-tab-panel {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 0;
//   padding-top: 1px;
// }

// .q-tab-panels {
//   height: 100%;
// }
// .q-tab {
//   padding: 0 5px;
// }
// .q-card > div {
//   margin-top: 0;
// }
// .hour-slot {
//   padding: 0 20px;
// }
// .schedule-slot {
//   width: 100%;
//   padding-top: 0;
// }
.q-tab__label {
  font-size: 16px;
}

.hour-slot-edit {
  padding-top: 10px;
}

@media only screen and (min-width: 1200px) {
  .schedule-slot {
    width: 60%;
    .my-card {
      width: 100%;
    }
  }
}
</style>