<template>
  <div class="schedule-slot">
    <q-card class="my-card">
      <q-tabs
        v-model="dayTab"
        class="text-grey week-tabs"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="monday" label="L" />
        <q-tab name="tuesday" label="M" />
        <q-tab name="wednesday" label="M" />
        <q-tab name="thursday" label="J" />
        <q-tab name="friday" label="V" />
      </q-tabs>
    </q-card>
    <q-tab-panels v-model="dayTab" animated>
      <q-tab-panel class="hour-slot" name="monday">
        <ScheduleCapsule v-for="(item, index) in personal.luni" :key="index" v-bind:day="item" />
      </q-tab-panel>
      <q-tab-panel class="hour-slot" name="tuesday">
        <ScheduleCapsule v-for="(item, index) in personal.marti" :key="index" v-bind:day="item" />
      </q-tab-panel>
      <q-tab-panel class="hour-slot" name="wednesday">
        <ScheduleCapsule v-for="(item, index) in personal.miercuri" :key="index" v-bind:day="item" />
      </q-tab-panel>
      <q-tab-panel class="hour-slot" name="thursday">
        <ScheduleCapsule v-for="(item, index) in personal.joi" :key="index" v-bind:day="item" />
      </q-tab-panel>
      <q-tab-panel class="hour-slot" name="friday">
        <ScheduleCapsule v-for="(item, index) in personal.vineri" :key="index" v-bind:day="item" />
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>

<script>
import ScheduleCapsule from "./ScheduleCapsule.vue";

export default {
  name: "scheduleSlotPersonal",
  components: {
    ScheduleCapsule
  },
  data() {
    return {
      dayTab: "monday"
    };
  },
  computed: {
    personal() {
      return this.$store.getters["scheduleData/getPersonalSchedule"];
    }
  }
};
</script>

<style lang="scss">
.schedule-slot {
  width: 100%;
  padding-top: 0;

  .my-card {
    margin-bottom: 20px;
  }
  .hour-slot {
    padding: 0 20px;
  }
  @media only screen and (min-width: 1200px) {
    .schedule-slot {
      width: 60%;
      .my-card {
        width: 100%;
      }
    }
  }
}
</style>